@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@1,87.5,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
   margin: 0;
   padding: 0; 
   box-sizing: border-box;
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    background-color: #1f242d;
}

a{
    color: #fff;
    text-decoration:none;
}

.navbar{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding:25px 9% ;
    color: #1f242d;
    display:flex;
    justify-content: space-between;
    align-items: cneter;
    z-index: -1;
}

.navbar.logo{
    font-size: 30px;
    font-weight: 700;
}

.navbar ul{
    display: flex;
}

.navbar ul li{
    list-style: none;
    margin-left: 35px;
}

.navbar ul li a{
    font-size: 20px;
    font-weight: 500px;
    color: black;

    transition: .5s;
}

.navbar ul li:hover a{
    font-size: 22px;
    color: green;
}
.navbar ul li.active a{
    color: #2c109d;
}

.home {
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 60px 9% 0;
    color: white;
}

.home-info h1{
    font-size: 55px;
}

.home-info h2 span{
    position: relative;
    display: inline-block;
    color: transparent;
    -webkit-text-stroke: .7px #7cf03d;
    animation: display-text 16s linear infinite;
    animation-delay: calc(-4s * var(--i));
}
@keyframes fill-text{
    10%,100%{
        width: 0;
    }
    70%,90%{
        width:100%;
    }
}
@keyframes display-text {
    25%,100%{
        display: none;
    }
}
.home-info h2{
    display: inline-block;
    font-size: 32px;
    margin-top: -10px;
   /* background: slateblue ;*/
}

.home-info p{
    font-size: 16px;
    margin: 10px 0 25px;
}

.btn-sci #sci {
    display: flex;
    align-items:center;
    
}

.btn {
    display: inline-block;
    padding: 10px 30px;
    background: #7cf03d;
    border: 2px solid #7cf03d;
    border-radius: 40px ;
    box-shadow: 0 0 10px #7cf03d;
    font-size: 16px;
    color: black;
    font-weight: 600;
    transition: .5s;
}

.btn:hover {
    background: transparent;
    color: #7cf03d;
    box-shadow: none;
}

.home-info .btn-sci .sci{
    margin-left: 200px;
}

.sci a{
    display:flexbox;
    padding: 8px;
    border: 1px solid #7cf03d;
    border-radius: 200%;
    font-size: 20px;
    color: #7cf03d;
    margin: 0 8px;
    transition: .5s;
}

.sci a:hover{
    background: #7cf03d;
    color: #1f242d;
    box-shadow: 0 0 10px #7cf03d;
}

.home-img .img-box{
    position: relative;
    width: 32vw;
    height: 32vw;
    background-color: red;
    border-radius: 50%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/*
.home-img .img-box::before]
{
    content: '';
    position: fixed;
    width: 500px;
    height: 500px;
    background: conic-gradient(transparent,transparent,transparent,#7cf03d);
    overflow:hidden;
    
}

*/





.home-img .img-box .img-item{
    position: relative;
    width: 100%;
    height: 100%;
    background: slateblue;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    z-index: 1;
    overflow: hidden;
}

.home-img .img-box .img-item img{
    position: absolute;
    top: -30%;
    left: 5%;
    display: block;
    width: 85%;
    object-fit: cover;
}















.home-info h2 span::before{
    content: attr(data-text);
    position: absolute;
    width: 0;
    border-right: 2px solid #7cf03d;
    color: #7cf03d;
    overflow: hidden;
    white-space: nowrap;
    animation: fill-text 4s linear infinite;
}